/* section 1 */
body {
    background-color: white;
}

.introContainer {
    display: flex;

    justify-content: space-between;
    padding-right: 50px;

}

.intro {
    font: 80px Verdana, sans-serif;
    margin: 100px 20px 5px 100px;
    padding: 40px;
}

.subintro {
    font: 15px sans-serif;
    margin: 0px 150px;
}

.phrase {
    font: 25px Georgia, serif;
    width: 900px;
    margin: 40px 150px;
    text-align: justify;
    text-transform: uppercase;
    color: rgb(255, 81, 0);

}

.dipenImage img {
    height: auto;
    max-width: 300px;
}

/* This is section 2 page */

.sectionTeal {
    background-color: teal;
    padding: 40px;
    box-sizing: border-box;
    display: block;
    min-height: 700px;
    margin-top: 200px;

}

.containerTeal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    max-width: 1400px;
    margin: 0 auto;

}

.aboutImage img {
    border-radius: 50px;
    height: auto;
    margin-left: 40px;
}

.aboutText {
    max-width: 700px;
}

.highlight {
    background-color: rgb(0, 162, 255);
    font-size: 45px;
    padding: 10px;
    font-weight: bold;
    display: inline-block;

}

.aboutText p {
    font-size: 35px;
    line-height: 1.6;
    padding: 10px;
    margin-top: 50px;
}

/* This is section 3 */

.sectionOrange {
    background-color: orange;
    min-height: auto;
}

.containerOrange {
    display: block;
    color: white;
    align-items: center;
}

.heads {
    display: inline-block;
    background-color: black;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin: 60px 60px;
}

.p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aqua;
}